* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section -1 */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    background-color: #181515;
    
}

.img1 {
    height: 432px;
    width: auto;
}

.container-one {
    width: 525px;
    padding-top: 100px;
    height: 567px;
}

.container-one h1 {
    color: white;
    font-size: 56px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* BUTTONS */

.link-one {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    background-color: #ca0c0c;
    color: white;
    padding: 15px 30px ;
    border: 1px solid #ca0c0c;
    border-radius: 10px;
}

.link-two {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: white;
    padding: 15px 30px ;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
}

/* Section -2 */

h2 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 150px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    padding-bottom: 99px;

}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 555px;
    gap: 3.2rem;
}

.container-two p {
    font-size: 22px;
}

h3 {
    font-size: 35px;
}

.img2 {
    height: 432px;
    width: auto;
}

/* SECTION -3 */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13rem;
    background-color: #181515;
    padding-top: 100px;
    padding-bottom: 99px;

}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 566px;
    gap: 3.2rem;
}

.container-three p {
    font-size: 23px;
    color: white;
}

.container-three h3 {
    font-size: 35px;
    color: white;
}

.img3 {
    height: 430px;
    width: auto;
}


/* Section -4 */

.section4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    padding-top: 109px;
    padding-bottom: 99px;

}

.container-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 555px;
    gap: 3.2rem;
}

.container-four p {
    font-size: 23px;
}

h3 {
    font-size: 34px;
}

.img4 {
    height: 430px;
    width: auto;
}

/*form-section*/
.form-head {
    background-color: #222;
    color: #fff;
    padding: 20px 40px;
  }
  
 .form-section h4 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  form {
    padding: 30px 40px;
  }
  
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  
  .form-control input:focus {
    outline: 0;
    border-color: #8700a8;
  }
  
  /* Applied with JS */
  .form-control.success input {
    border-color: #05c555;
  }
  
  /* Applied with JS */
  .form-control.error input {
    border-color: #e01111;
  }
  
  /* Icons */
  .form-control span {
    visibility: hidden;
    position: absolute;
    top: 36px;
    right: 10px;
  }
  
  /* Check circle icon */
  .form-control.success span.fa-check-circle {
    color: #05c555;
    visibility: visible;
  }
  
  /* Error icon */
  .form-control.error span.fa-exclamation-circle {
    color: #e01111;
    visibility: visible;
  }
  
  /* Error message */
  .form-control small {
    color: #e01111;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  /* Applied with JS */
  .form-control.error small {
    visibility: visible;
  }
  
  form button {
    background-image: linear-gradient(45deg, #8700a8, #ff52a0);
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
  }
  
  form button:hover {
    background-image: linear-gradient(45deg, #ff52a0, #8700a8);
    transition: ease-in-out;
  }
  
footer {
    padding: 25px;
    color: white;
    background-color:#181515;
    text-align: center;
    margin-bottom: 2px;
}